.table {
  min-width: 700px;
}

.paper {
  background-color: whitesmoke;
  border-radius: 15px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  margin-bottom: 60px;
}

.total {
  display: flex;
  justify-content: flex-start;
}

.count {
  width: 35px;
  border: none;
  outline: none;
  background: none;
}
